.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    background-color: #F5FFFA;
}

.formulario{
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 10px;
}